:root {
	/* Colores */
	--primary: #29A9E0;
	--blue-100: #1a87b6;
	--gray-400: #333333;
	--gray-500: #7F7F7F;
	--gray-600: #999999;
	--gray-700: #CACACA;
	--gray-950: #F2F2F2;
	--white: #FFFFFF;
	--black: #000000;

	/* Tamaño de fuentes*/
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.12rem;
	--text-lg: 1.375rem;
	--text-xl: 1.563rem;
	--text-2xl: 1.953rem;
	--text-3xl: 2.441rem;
	--text-4xl: 3.75rem;
	--text-5xl: 4.5rem;

	/* Pesos de fuentes */
	--font-weight-thin: 100;
	--font-weight-extra-light: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
	--font-weight-black: 900;
}

body {
	font-family: 'DM Sans Variable', sans-serif;
  	background: var(--gray-950);
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: var(--text-base);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
    color: var(--black);
}
h1 {
	font-size: var(--text-4xl);
}
h2 {
	font-size: var(--text-3xl);
}
h3 {
	font-size: var(--text-2xl);
}
h4 {
	font-size: var(--text-xl);
}
h5 {
	font-size: var(--text-lg);
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--blue);
    text-decoration: none;
}
a:hover {
	color: var(--blue-100);
}
textarea {
	width: 100%;
	font-size: var(--text-base);
}
input {
	font-size: var(--text-base);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.thin {
	font-weight: var(--font-weight-thin);
}

.extra-light {
	font-weight: var(--font-weight-extra-light);
}

.light {
	font-weight: var(--font-weight-light);
}

.regular {
	font-weight: var(--font-weight-regular);
}

.medium {
	font-weight: var(--font-weight-medium);
}

.semi-bold {
	font-weight: var(--font-weight-semi-bold);
}

.bold {
	font-weight: var(--font-weight-bold);
}

.main {
	padding: 80px 20px;
	background: var(--gray-950);
}

.content {
	max-width: 1080px;
	margin: auto;
}
