---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Nav from "../../sections/Nav.astro";
import Footer from "../../sections/Footer.astro";
import LogoEscuelaMedicinaAzul from "../../icons/logo_escuela_medicina_azul.astro";
import WhatsAppWidget from "../../components/WhatsAppWidget.astro";
---

<BaseLayout title="Perfil de Ingreso y Egreso Medicina Mixta-Virtual" description="Sitio del perfil de ingreso y egreso para Medicina Mixta Virtual UAD">
    <Nav LicenciaturaTitle="Medicina" LicenciaturaSlug={"medicina-mixta-virtual"}/>
    <section class="perfil-hero" id="hero">
        <img src="/images/portada_perfil_egreso.webp" alt="">
    </section>
    <main>
        <section class="content">
            <div class="logo">
                <LogoEscuelaMedicinaAzul />
            </div>
            <div class="perfil" data-aos="fade-up">
                <div class="title">
                    <div></div><h5 class="light">Perfil de ingreso</h5>
                </div>
                <div class="text">
                    <p data-aos="fade-up">Los aspirantes a ingresar a esta Licenciatura deberán:</p>
                    <ul data-aos="fade-up">
                        <li>
                            Ser capaces de establecer empatía por medio de las relaciones interpersonales.
                        </li>
                        <li>
                            Establecer y mantener una actitud de compromiso, respeto a los valores, creencias dignidad y datos personales de quien solicite sus   servicios.
                        </li>
                        <li>
                            Poseer habilidad de análisis y síntesis.
                        </li>
                        <li>
                            Tener gusto por la lectura.
                        </li>
                        <li>
                            Conocer el idioma inglés básico como mínimo.
                        </li>
                        <li>
                            Tener conocimiento de Informática: dominio de programas básicos.
                        </li>
                        <li>
                            Tener disposición de trabajo en equipo y creatividad.
                        </li>
                        <li>
                            Poseer capacidad de organización, capacidad de autocrítica y toma de decisiones.
                        </li>
                        <li>
                            Generar interés en la problemática de su comunidad.
                        </li>
                        <li>
                            Interesarse en la investigación.
                        </li>
                        <li>
                            Ser adaptable y dispuesto a resolver retos académicos, tecnológicos y sociales.
                        </li>
                    </ul>
                    <p data-aos="fade-up">
                        Es requisito contar con alumnos con los compromisos básicos adquiridos durante el nivel medio superior, capacidad para resolver problemas de índole cotidiano y habilidades para la comprensión de la lectura: así como síntesis, análisis y lógica matemática además de los valores presentes en todo ser humano, siempre acompañado de rasgos esenciales de una personalidad madura.
                    </p>
                    <p data-aos="fade-up">
                        Es necesario que el alumno haya cursado el bachillerato en cualquiera de sus modalidades para tener derecho a ingresar, además de contar con conocimientos básicos en ofimática, mensajería en línea y videoconferencias.
                    </p>
                </div>
            </div>
        </section>
        <div class="img-container" data-aos="fade-right">
            <img src="/images/medicina_banner_img.webp" alt="">
        </div>
        <section class="content">
            <div class="perfil">
                <div class="title" data-aos="fade-up">
                    <div></div><h5 class="light">Perfil profesional de egreso</h5>
                </div>
                <div class="text">
                    <p data-aos="fade-up">
                        El egresado de la Licenciatura de Medicina General (Modalidad Mixta-Virtual) de la Universidad Autónoma de Durango es un médico, que se reconoce por una serie de atributos profesionales, personales y sociales. Un profesional que de forma integral responda a las necesidades de salud de la población.<br>
                        Que su práctica médica se identifique por estar basada en el conocimiento científico, el desarrollo de actitudes éticas y de habilidades técnicas, que en forma conjunta le permitan la realización de las funciones de: asistencia, educación, administración e investigación en medicina. Que sea capaz de aplicar el conocimiento en el cuidado de individuos, familias y comunidades en áreas básicas de la práctica: acción comunitaria, materno infantil, médico quirúrgico, atención geriátrica, salud mental, salud ocupacional, etc. Así como desarrollar actividades de administración de los servicios médicos y participar en el conocimiento y solución de problemas relacionados con su práctica.
                    </p>
                    <div id="collapse-p">
                        <div class="perfil-section">
                            <p data-aos="fade-up">
                                Rasgos del Perfil
                            </p>
                            <ul data-aos="fade-up">
                                <li>
                                    El Médico egresado de este programa muestra además de conocimientos y habilidades, valores de justicia, equidad y respeto, por ello, durante su etapa de formación incorpora actitudes éticas que se manifiestan en el egresado, en las relaciones que establece con los beneficiarios de los servicios de salud.
                                </li>
                            </ul>
                        </div>
                        <div class="perfil-section">
                            <p data-aos="fade-up">
                                Conocimientos (Saber):
                            </p>
                            <ul data-aos="fade-up">
                                <li>
                                    El egresado de la licenciatura en medicina general será capaz de realizar una práctica profesional integral basada en el conocimiento científico de la medicina, los procesos biológicos, psicológicos y sociales de las personas sanas y enfermas.
                                </li>
                                <li>
                                    De acuerdo con lo anterior, el egresado deberá contar con conocimientos de las ciencias sociales, humanísticas y biológicas, la metodología científica, el conocimiento teórico de la medicina, utilizando el proceso de atención médica como herramienta fundamental del cuidado.
                                </li>
                                <li>
                                    Contará con conocimientos en el manejo de tecnologías de la información, así como paquetería y simuladores especializados, que lo pondrán a la vanguardia en el desarrollo tecnológico en el área de la salud.
                                </li>
                            </ul>
                        </div>
                        <div class="perfil-section">
                            <p data-aos="fade-up">
                                En la Práctica el Egresado Deberá:
                            </p>
                            <ul data-aos="fade-up">
                                <li>
                                    Ser capaz de asumir funciones de atención directa a individuos, familia y comunidad, de administración, de investigación y de docencia, en instituciones de salud de primero y segundo nivel de atención.
                                </li>
                                <li>
                                    Realizar acciones de promoción y prevención, en los problemas más frecuentes que afectan la salud de la población, fomentando el auto cuidado y los estilos de vida saludables.
                                </li>
                                <li>
                                    Dar cuidados médicos a individuos, familia y comunidades durante el proceso salud enfermedad en las diferentes etapas del ciclo vital. Incluso de manera remota, con el uso de la tecnología.
                                </li>
                                <li>
                                    Demostrar liderazgo para la atención de individuos, sanos y enfermos a través del cuidado médico.
                                </li>
                                <li>
                                    Elaborar juicios clínicos y tomar decisiones dentro de su competencia profesional, respetando los principios éticos. Por medio de práctica clínica e incluso por medio de la tecnología.
                                </li>
                                <li>
                                    Aplicar tecnología de complejidad utilizada en el tratamiento de enfermos que lo requieran, de acuerdo con los principios bioéticos.
                                </li>
                                <li>
                                    Participar multidisciplinariamente en la solución de los problemas de salud que afecten los grupos mayoritarios.
                                </li>
                            </ul>
                        </div>
                        <div class="perfil-section">
                            <p data-aos="fade-up">
                                Habilidades (Saber Hacer):
                            </p>
                            <ul data-aos="fade-up">
                                <li>
                                    Para desarrollar un pensamiento y una actitud crítica durante su práctica, de tal forma que pueda mejorar la calidad de la atención médica.
                                </li>
                                <li>
                                    Para utilizar el proceso de diagnóstico y tratamiento médico como una herramienta que asegure un cuidado integral y una práctica profesional. Añadiendo el diagnostico por medio del uso de la tecnología.
                                </li>
                                <li>
                                    Incorporar a su quehacer los avances tecnológicos, para realizar una práctica eficiente, oportuna y libre de riesgo, en los diferentes campos de acción.
                                </li>
                            </ul>
                        </div>
                        <div class="perfil-section">
                            <p data-aos="fade-up">
                                Actitudes (Saber Ser y Estar):
                            </p>
                            <ul data-aos="fade-up">
                                <li>
                                    Es una persona consciente de que la salud es un derecho de todo individuo sin distinción de raza, credo o situación social.
                                </li>
                                <li>
                                    Que valora su salud física y mental, como un elemento inherente a su persona, para así contribuir a la salud física y mental de otros.
                                </li>
                                <li>
                                    Reconoce que la medicina es una profesión humanista a través de la cual es posible contribuir al desarrollo armónico del ser humano, más allá del cuidado físico y de la clasificación del hombre como organismo bio-psico-social.
                                </li>
                                <li>
                                    Capacitada para reconocer y respetar las creencias, valores y potencialidades de la persona sujeto del cuidado.
                                </li>
                                <li>
                                    Consciente de la necesidad de protección del medio ambiente, como factor determinante en el proceso salud enfermedad.
                                </li>
                                <li>
                                    Consciente de su función social y profesional, ya que de ella dependen acciones vitales para la salud y la vida.
                                </li>
                                <li>
                                    Comprometida con su propio campo profesional, perfeccionando sus conocimientos a través de una actualización permanente y el uso de la tecnología.
                                </li>
                                <li>
                                    Comprometida con la unidad y la cohesión del grupo de médicos, siendo partícipe dentro de las asociaciones y colegios que existan en la profesión.
                                </li>
                                <li>
                                    Que valora la importancia del respeto a los derechos humanos y participa en el fortalecimiento de la paz y la solidaridad para una convivencia humana armónica.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-collapse-p" data-aos="fade-up">
                        <button>Seguir leyendo...</button>
                    </div>
                </div>
            </div>
            <div class="perfil">
                <div class="title" data-aos="fade-up">
                    <div></div><h5 class="light">Rotaciones Internacionales</h5>
                </div>
                <div class="text">
                    <p class="subtitle" data-aos="fade-up">Programa de Internacionalización para la educación Médica.</p>
                    <p data-aos="fade-up">
                        Las rotaciones internacionales o programas de intercambio son oportunidades valiosas para que nuestros estudiantes de la Universidad Autónoma de Durango puedan realizar sus practicas clínicas en el extranjero y así enriquecer su experiencia educativa.
                        <br>Permite al estudiante de medicina de la UAD conocer otras culturas, mejorar sus habilidades lingüísticas, obtener una perspectiva global en sus diferentes áreas de estudio.
                    </p>
                    <p data-aos="fade-up">
                        Nuestro objetivo es fortalecer el conocimiento y habilidades adquiridas de las disciplinas en la carrera de medicina general conforme al plan académico por medio del programa de internacionalización para la educación medica en Houston, Tx. Con un enfoque en la atención primaria a través de rotación con tutores certificados en distintas especialidades.
                    </p>
                    <p data-aos="fade-up">
                        La Universidad Autónoma de Durango estableció un convenio y acuerdo de intercambio académico con Grupo ROBA Medical Solutions, LLC. Este acuerdo permite al estudiante de medicina de la Universidad Autónoma de Durango participar en los diferentes periodos determinados realizar sus ciclos clínicos.
                    </p>
                    <p data-aos="fade-up">
                        Los estudiantes de medicina interesados en participar en dicho programa de intercambio internacional deben cumplir con ciertos requisitos académicos y de idioma establecidos.
                    </p>
                    <p data-aos="fade-up">
                        El convenio vigente con grupo ROBA Medical Solutions, es un documento que establece los términos y condiciones para la cooperación entre ambas partes. Este acuerdo tiene como objetivo promover la colaboración, el intercambio de conocimientos y beneficio mutuos.
                        <br>Así mismo nos ayuda a llevar acabo actividades conjuntas y fomentar las relaciones internacionales.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <WhatsAppWidget />
    <Footer />
</BaseLayout>

<style>
    .perfil-hero {
        width: 100%;
        height: 60vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        z-index: -10;
    }

    .perfil-hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main {
        background: var(--white);
        margin-top: 60vh;
    }

    .content {
        padding: 30px 20px;
        max-width: 1280px;
        margin: auto;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 0 0 20px;
    }

    .title {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .title h5 {
        text-transform: uppercase;
        font-size: var(--text-base);
        color: var(--gray-500);
        margin: 0;
    }

    .title div {
        width: 6px;
        height: 6px;
        background: var(--primary);
    }

    .subtitle {
        margin: 0;
    }

    .text {
        padding: 0 0 0 14px;
    }

    .text p {
        color: var(--gray-600);
    }

    .text ul {
	    list-style: outside;
	    padding: 0 0 0 20px;
	    color: var(--gray-600);
    }

    .img-container {
        margin: auto;
        max-width: 1280px;
        overflow: hidden;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .perfil-section {
        margin: 35px 0;
    }

    #collapse-p {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-in-out;
    }

    #collapse-p div:first-child {
        margin-top: 0;
    }

    #collapse-p div:last-child {
        margin-bottom: 0;
    }

    #collapse-p.expanded {
        max-height: 2800px;
    }

    .btn-collapse-p {
        display: flex;
        margin-bottom: 50px;
    }

    .btn-collapse-p button {
        background: none;
        border: none;
        color: var(--gray-700);
        margin: auto;
        cursor: pointer;
    }

    .btn-collapse-p button:hover {
        color: var(--primary);
    }

    @media (max-width: 650px) {
        .text {
            padding: 0;
        }
    }

    @media (max-width: 480px) {
        .content h5,
        p,
        ul,
        button {
            font-size: var(--text-sm);
        }
    }

    @media (max-width: 950px) {
        .img-container {
            height: 210px;
        }
    }
</style>

<script data-astro-rerun>
    document.addEventListener('astro:page-load', function() {
        const collapseButton = document.querySelector('.btn-collapse-p button');
        const collapseContent = document.getElementById('collapse-p');

        if (collapseButton && collapseContent) {
            collapseButton.addEventListener('click', function() {
                collapseContent.classList.toggle('expanded');
                collapseButton.style.display = 'none';
            });
        }
    });
</script>
