---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialMediaIcons from "../icons/SocialMediaIcons.astro";
import LogoMixtaVirtual from "../icons/logo-mixta-virtual.astro";
---

<BaseLayout>
    <header>
        <a href="/" class="logo">
            <LogoMixtaVirtual width="190px" color="var(--primary)" colorHover="var(--blue-100)"/>
        </a>
    </header>
    <main>
        <h1>
            ¡Gracias por Contactarnos!
        </h1>
        <h2>
            Hemos recibido tu mensaje
        </h2>
        <p>
            Agradecemos que te hayas tomado el tiempo para ponerte en contacto con nosotros.<br>
            Tu mensaje ha sido recibido y uno de nuestros asesores se pondrá en contacto contigo lo antes posible.
        </p>
        <a href="/">Volver a inicio</a>
    </main>
    <footer>
        <p>Te invitamos a segirnos en nuestras redes sociales</p>
        <SocialMediaIcons color="var(--gray-500)" margin="6px"/>
    </footer>
</BaseLayout>

<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        max-width: 700px;
        margin: auto;
        text-align: center;
        flex-direction: column;
        padding: 35px;
    }

    main h1 {
        color: var(--primary);
    }

    main h2 {
        color: var(--blue-100);
    }

    main a {
        background-color: var(--primary);
        color: var(--white);
        padding: 10px 20px;
        border-radius: 10px;
        margin: 30px 0;
    }

    main a:hover {
        background-color: var(--blue-100);
    }

    footer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        padding: 35px;
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 15px;
        transform: translateX(-50%);
    }

    @media (max-width: 500px) {
        main h1 {
            font-size: var(--text-3xl);
        }

        main h2 {
            font-size: var(--text-2xl);
        }
    }
</style>