---
import BaseLayout from "../layouts/BaseLayout.astro";
import LogoMixtaVirtual from "../icons/logo-mixta-virtual.astro"
import ContactForm from "../components/ContactForm.astro";
import SocialMediaIcons from "../icons/SocialMediaIcons.astro"
---

<BaseLayout title="Contacto" description="Pagina de contacto Escuela de Medicina UAD">
    <main>
        <img class="background" src="/images/background_contacto.jpg" alt="">
        <section class="contact-grid">
            <aside id="aside-form">
                <div class="form-container">
                    <div class="form">
                        <a href="/">
                            <LogoMixtaVirtual
                                width="235px"
                            />
                        </a>
                        <ContactForm />
                    </div>
                    <div class="excelencia form-text">
                        <h1>La opción
                        <h1 style="font-weight: var(--extra-bold); margin-bottom: 0">a la excelencia</h1>
                    </div>
                    <div class="footer">
                        <SocialMediaIcons width="32px" margin="5px"/>
                        <div class="info">
                            <p>
                                Avenida Universidad Autónoma de Durango #300
                            </p>
                            <p>
                                Colonia Jardines de Durango. Durango, Durango, México.
                            </p>
                            <p>
                                Teléfono(s): (618) 129 5901 Ext. 275 a 285
                            </p>
                        </div>
                    </div>
                </div>
            </aside>
            <aside id="aside-text">
                <div class="excelencia">
                    <h1>La opción
                    <h1 style="font-weight: var(--extra-bold); margin-bottom: 0">a la excelencia</h1>
                </div>
            </aside>
        </section>
    </main>
</BaseLayout>


<style>
    main {
        position: relative;
        background: #00000021;
        overflow: hidden;
    }

    aside {
        min-height: 100vh;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        object-fit: cover;
    }

    .contact-grid {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 2fr 1fr;
    }

    #aside-form {
        display: flex;
        align-items: center;
        padding: 20px 20px 40px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin: auto;
        text-align: center;
    }

    .form {
        padding: 10vh 0 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info p {
        margin: 0;
        color: var(--white);
        font-size: var(--text-xs);

    }

    #aside-text {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 20px 20px 40px 0;
    }

    .excelencia h1 {
        text-transform: uppercase;
        text-align: left;
        color: var(--white);
        font-weight: var(--regular);
        font-size: 32px;
        margin: 0 0 5px;
    }

    .form-text {
        display: none;
        width: fit-content;
        margin: 20px auto 60px;
    }

    .form-text h1 {
        font-size: 25px;
    }

    @media (max-width: 900px) {
        .contact-grid {
            grid-template-columns: 1fr;
        }

        .form {
            padding: 5vh 0 0;
        }

        .form-text {
            display: block;
        }

        #aside-text {
            display: none;
        }
    }
</style>