---
import BaseLayout from "../layouts/BaseLayout.astro";
import LogoMixtaVirtual from "../icons/logo-mixta-virtual.astro"
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout title="Contacto" description="Pagina de contacto Escuela de Medicina UAD">
    <main>
        <img class="background" src="/images/background_contacto.jpg" alt="">
        <section class="contact-grid">
            <aside id="aside-form">
                <div class="form-container">
                    <div class="form">
                        <a href="/">
                            <LogoMixtaVirtual
                                width="235px"
                            />
                        </a>
                        <ContactForm />
                    </div>
                    <h3>Footer</h3>
                </div>
            </aside>
            <aside id="aside-text">
                <h3>La opcion a la excelencia</h3>
            </aside>
        </section>
    </main>
</BaseLayout>


<style>
    main {
        position: relative;
        background: #00000021;
        overflow: hidden;
    }

    aside {
        min-height: 100vh;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        object-fit: cover;
    }

    .contact-grid {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 2fr 1fr;
    }

    #aside-form {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin: auto;
        text-align: center;
    }

    .form {
        padding: 10vh 0 0;
    }

    @media (max-width: 900px) {
        .contact-grid {
            grid-template-columns: 1fr;
        }

        .form {
            padding: 5vh 0 0;
        }

        #aside-text {
            display: none;
        }
    }
</style>