---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../sections/Hero.astro"
import Nav from "../sections/Nav.astro"
import OfferCard from "../components/OfferCard.astro"
import Ovid from "../sections/Ovid.astro"
import HospitalVirtual from "../sections/HospitalVirtual.astro"
import BottomBanner from "../components/BottomBanner.astro"
import Footer from "../sections/Footer.astro"
---
<BaseLayout>
	<Nav />
	<Hero />
	<section class="welcome-section">
		<div class="content">
			<div class="welcome">
				<h1 data-aos="fade-up">Bienvenidos</h1>
				<p data-aos="fade-up">
					Les damos la mas cordial bienvenida, este espacio esta diseñado para ti, aquí conocerás la experiencia, retos y responsabilidades que tiene esta institución, la cual tiene como misión formar a los mejores médicos , con ética, calidad humana y espíritu de competencia que persevera la salud y calidad de vida.
				</p>
				<h5 data-aos="fade-up" class="extra-light">
					“LA EXPERIENCIA DE SER MÉDICO ES ÚNICA, SER MÉDICO NO ES UN TRABAJO, ES UN ESTILO DE VIDA”
				</h5>
			</div>
			<OfferCard />
		</div>
	</section>
	<Ovid/>
	<HospitalVirtual />
	<BottomBanner image="/images/anatomage.jpg" />
	<Footer />

</BaseLayout>

<style>
	.welcome-section {
		padding: 80px 20px;
		background: var(--gray-950);
	}

	.content {
		max-width: 1080px;
		margin: auto;
	}

	.welcome {
		text-align: center;
	}
	.welcome h1 {
		text-transform: uppercase;
		color: var(--gray-400);
	}
	.welcome p {
		color: var(--gray-500);
		margin: 30px 0 60px;
	}
	.welcome h5 {
		color: var(--primary);
	}

	@media (max-width: 480px) {
		.welcome h1 {
			font-size: 12vw;
		}
	}

</style>