---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../sections/Hero.astro"
import Nav from "../sections/Nav.astro"
---
<BaseLayout>
	<Nav />
	<Hero />
	<main>
		<h1>Hola desde Medicina Mixta Virtual</h1>
	</main>
</BaseLayout>