---
import BaseLayout from "../layouts/BaseLayout.astro"
import Nav from "../sections/Nav.astro"
import LicenciaturaHero from "../sections/LicenciaturaHero.astro"
import Medicina from "../icons/medicina.astro"
import Footer from "../sections/Footer.astro"
import { getCollection } from "astro:content";


const licenciaturas = await getCollection('licenciaturas');

const medicinaData = licenciaturas.find(l => l.slug === "medicina-mixta-virtual")
console.log(medicinaData)
---
<BaseLayout title="Medicina Mixta Virtual" description="Sitio principal de Medicina Mixta Virtual UAD">
    <Nav LicenciaturaTitle="Medicina" LicenciaturaSlug={"medicina_mixta_virtual"}/>
    <LicenciaturaHero 
        image={medicinaData?.data.portada}
        title={medicinaData?.data.titulo}
        rvoe={medicinaData?.data.rvoe} 
    >
        <Medicina width="102px" />
    </LicenciaturaHero>
    <main>
        <div class="max-w">
            <section id="large-view">
                <div class="blank"></div>
                <div class="resumen">
                    <p>
                        La Escuela de Medicina de la UAD forma Médicos con un dominio general de la medicina que se imparte en idioma español, cultos, con amplia visión de la profesión y un gran sentido humano, comprometidos, honestos y competentes para resolver de forma efectiva y humanista las situaciones de salud individual y comunitaria.
                    </p>
                    <p>
                        Nuestros médicos durante su formación se preparan con el aval del CIFRHS y de la SEP a través del RVOE y su participación en las Instituciones de Salud públicas y privadas para ejercer una excelente atención primaria de la salud y cuentan con la capacidad de influenciar positivamente a su entorno.
                    </p>
                    <hr>
                </div>
                <aside>
                    <div class="menu">
                        <button class="menu-btn selected" data-target="proposito-content">Propósito del Est.</button>
                        <button class="menu-btn" data-target="plan-content">Plan de Estudios</button>
                        <button class="menu-btn" data-target="mapa-content">Mapa Curricular</button>
                    </div>
                    <div class="download-btn">
                        <a href="#">Descargar Requisitos</a>
                        <a href="#">Descargar Plan de Estudio</a>
                    </div>
                </aside>
                <section class="content">
                    <div class="proposito" id="proposito-content">
                        <p>
                            Se definen los aspectos genéricos que persigue el plan de estudios de la Licenciatura de Médico General de la UAD modalidad Mixta-Virtual, es decir, los propósitos que se atenderán durante el proceso educativo:
                        </p>
                        <p>
                            Formar profesionales altamente competentes y capacitados para desempeñarse en el ejercicio de la medicina con los conocimientos, calidad técnica, ética profesional y humanismo necesarios para el cuidado y la promoción de la salud, que integren la prevención, curación, recuperación y rehabilitación, en los niveles individual, familiar y comunitario de la región y el país.
                        </p>
                        <div class="img-container">
                            <img src="/images/plan_estudios_medicina.jpg" alt="">
                        </div>
                        <p>
                            Al término de sus estudios de Licenciatura, el estudiante de la carrera de Médico General será Competente para:
                        </p>
                        <ul>
                            <li>
                                Distinguir entre lo normal y lo patológico en el proceso salud-enfermedad.
                            </li>
                            <li>
                                Fundamentar su práctica profesional en conocimientos biomédicos.
                            </li>
                            <li>
                                Desarrollar una práctica clínica de calidad, al aplicar los procedimientos clínicos de acuerdo con las características particulares de los pacientes.
                            </li>
                            <li>
                                Aplicar los conocimientos y herramientas epidemiológicas para promover la salud colectiva.
                            </li>
                            <li>
                                Basar y ejercer su profesión de acuerdo con sus principios bioéticos, extendiendo esa actitud hacia las esferas personal, social y laboral.
                            </li>
                            <li>
                                Contar con los elementos teóricos y metodológicos para realizar investigación.
                            </li>
                            <li>
                                Practicar su profesión con un sentido humanista.
                            </li>
                            <li>
                                Realizar trabajo interdisciplinario.
                            </li>
                            <li>
                                Desarrollar actividades de enseñanza en el ámbito de su desempeño profesional.
                            </li>
                            <li>
                                Evaluar con sentido crítico su ejercicio profesional y en consecuencia, diseñar y ejecutar un programa de superación profesional.
                            </li>
                            <li>
                                Dominar el manejo de las Tecnologías de la Información referente a paquetería de software, en el área de la salud.
                            </li>
                        </ul>
                    </div>
                    <div class="plan hidden" id="plan-content">
                        <h1>Plan</h1>
                    </div>
                    <div class="mapa hidden" id="mapa-content">
                        <h1>Mapa</h1>
                    </div>
                </section>
            </section>
        </div>
        <Footer />
    </main>
    
</BaseLayout>

<style>
    main {
        background: var(--gray-950);
    }

    .max-w {
        padding: 30px 20px;
        max-width: 1280px;
        margin: auto;
    }

    #large-view {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 10px;
    }

    .blank {
        grid-column: 1;
        grid-row: 1;
    }

    .resumen {
        grid-column: 2;
        grid-row: 1;
    }

    aside {
        grid-column: 1;
        grid-row: 2;
    }

    .content {
        grid-column: 2;
        grid-row: 2;
    }

    .resumen {
        margin-bottom: 40px;
    }

    .resumen p {
        color: var(--gray-400);
    }

    .resumen hr {
        color: var(--primary);
        margin-left: 0;
        width: 40%;
        border-color: var(--primary);
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0 auto 0 0;
        background: var(--white);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 13px 0px;
    }

    .menu-btn {
        background: none;
        border: 0;
        border-radius: 5px;
        color: var(--primary);
        font-weight: 250;
        font-size: var(--text-md);
        text-align: start;
        padding: 10px 12px;
        cursor: pointer;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    }

    .menu-btn:hover {
        background: var(--primary);
        color: var(--white);
        font-weight: 350;
        border-radius: 5px;
    }

    .proposito p:first-child {
        margin-top: 0;
    }

    .download-btn {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 40px auto 0 0;
        gap: 8px;
        text-align: center;
    }

    .download-btn a {
        background: var(--primary);
        color: var(--white);
        font-weight: var(--light);
        font-size: var(--text-xs);
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 13px 0px;
    }

    .download-btn a:hover {
        background: var(--black)
    }

    .content p {
        color: var(--gray-600)
    }

    .img-container {
        position: relative;
        width: 100%;
        height: 380px;
        overflow: hidden;
        margin: 22px 0;
    }

    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .proposito ul {
        list-style: outside;
        padding: 0 0 0 20px;
        color: var(--gray-600);
    }

    .proposito {
        margin: 0 0 60px;
    }

    .menu-btn.selected {
        background: var(--primary);
        color: var(--white);
        font-weight: 350;
    }

    /* Animaciones para las secciones */
    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
    }

    @keyframes fadeOut {
        from { opacity: 1; transform: translateY(0); }
        to { opacity: 0; transform: translateY(20px); }
    }

    .fade-in {
        animation: fadeIn 0.5s forwards;
        display: block;
    }

    .fade-out {
        animation: fadeOut 0.5s forwards;
    }

    /* Mantener oculto el contenido con display: none */
    .hidden {
        display: none;
    }


</style>

<script>
    document.addEventListener('astro:page-load', function () {
    const buttons = document.querySelectorAll('.menu-btn') as NodeListOf<HTMLInputElement>;
    const sections = document.querySelectorAll('.content > div') as NodeListOf<HTMLElement>;

    buttons.forEach(button => {
        button.addEventListener('click', function () {
            // Remove the 'selected' class from all buttons
            buttons.forEach(btn => btn.classList.remove('selected'));

            // Add the 'selected' class to the clicked button
            this.classList.add('selected');

            // Hide all sections with animation
            sections.forEach(section => {
                section.classList.remove('fade-in');
                section.classList.add('fade-out');
                
                // Once the animation ends, hide the section
                section.addEventListener('animationend', function () {
                    if (section.classList.contains('fade-out')) {
                        section.classList.add('hidden');
                    }
                }, { once: true });
            });

            // Show the targeted section with animation
            const target = this.getAttribute('data-target');
            const targetSection = document.getElementById(target) as HTMLElement;
            targetSection.classList.remove('hidden', 'fade-out');
            targetSection.classList.add('fade-in');
        });
    });
    });
</script>

    