---
import PlanEstudios from '../../components/PlanEstudios.astro';

interface PlanEstudio {
  titulo: string;
  contenido: string[];
}

interface Props {
  data: {
    titulo: string;
    portada: string;
    mapa_curricular: string;
    rvoe: string;
    plan_estudios: PlanEstudio[];
  }
}

const { data } = Astro.props;
---

<section id="desktop-view">
    <div class="blank"></div>
    <div class="resumen" data-aos="fade-up">
        <p>
            El estudiante de la licenciatura en enfermería deberá tener la capacidad de comunicarse correctamente de manera oral y escrita, cultura general amplia, buena memoria, capacidad de observación, habilidades de relación interpersonal.
        </p>
        <p>
            Actitudes que reflejen valores humanos de respeto de a vida. Responsabilidad social y solidaridad, interés en la problemática de su comunidad y la capacidad de trabajar en situaciones críticas e imprevistas.
        </p>
        <hr>
    </div>
    <aside>
        <div class="sticky" data-aos="fade-right">
            <div class="menu">
                <button class="menu-btn" data-target="proposito-content">Propósito del Est.</button>
                <button class="menu-btn" data-target="plan-content">Plan de Estudios</button>
                <button class="menu-btn" data-target="mapa-content">Perfil de Egreso</button>
            </div>
            <div class="download-btn">
                <a href="https://drive.google.com/uc?id=1u0qOoonVZHtoeezvo62kir5GcCMIEPEc&export=download">Descargar Plan de Estudios</a>
            </div>
        </div>
    </aside>
    <section class="content-section" data-aos="fade-up" id="plan_de_estudios">
        <div class="proposito" id="proposito-content">
            <p>
                La orientación pedagógica que prima en la institución está sustentada en un enfoque humanista y constructivista, atendiendo principalmente a la consideración social que debe tener la educación escolar.
            </p>
            <p>
                Teniendo como principio que la calidad académica sustenta la orientación hacia la excelencia y conscientes de que la Universidad Autónoma de Durango, es una institución comprometida en formar profesionales con un enfoque integral y por consiguiente, responsable de la transmisión de los conocimientos científicos, técnicos y sociales, con orientación pedagógica basada en el desarrollo de competencias, que le permita a nuestros egresados desarrollar con éxito su profesión, así como relacionarse con el mundo circundante en su futuro quehacer profesional.
            </p>
            <p>
                De acuerdo a lo anterior, aspiramos a ser una casa de estudios de excelencia y libertad académica, así como, un centro de investigación de calidad, que forme hombres y mujeres capaces de actuar de manera informada, racional, responsable, critica y comprometida con la creación, dirección y orientación de opinión pública, instituciones y obras; así como, profesionales con la capacidad de innovar y difundir conocimientos de alto nivel ético, científico y profesional.
            </p>
            <div class="img-container">
                <img src="/images/plan_estudios_medicina.jpg" alt="">
            </div>
        </div>
        <div class="plan hidden" id="plan-content">
            <PlanEstudios rvoe={data.rvoe} plan_estudios={data.plan_estudios}/>
        </div>
        <div class="mapa hidden" id="mapa-content">
            <div class="perfil-egreso">
                <p>
                    El egresado de la Licenciatura en Enfermería  pretende egresar profesionistas con una formación innovadora, competitiva y de alta calidad que dé respuesta a las demandas de salud de la población.
                </p>
                <p>
                    La articulación entre formación y práctica profesional se concentra en torno a los cuatro Núcleos Básicos de Enfermería: persona, entorno, salud, y cuidado, presentes en forma implícita o explícita.
                </p>
                <p>
                    Para cumplir con su función social enmarcada en la realidad económica y política el egresado de la Licenciatura en Enfermería será capaz de:
                </p>
                <ul>
                    <li>
                        Vincular conocimientos teóricos, metodológicos y disciplinares relacionados con las áreas biomédica, humanística y social, al desempeñar el rol de proveedor de cuidados, educador, investigador y administrador, en beneficio de la calidad del cuidado a la salud de la población.
                    </li>
                    <li>
                        Participar en el equipo multidisciplinario con intervenciones de enfermería sustentadas en el conocimiento de modelos, teorías, técnicas y procedimientos, para atender necesidades de la persona, a través de la sistematización del cuidado y mediante la aplicación del Proceso de Enfermería como herramienta metodológica.
                    </li>
                    <li>
                        Intervenir de forma anticipativa y resolutiva en el continuo salud enfermedad en los diferentes niveles de atención, con un mayor abordaje hacia el primer y segundo nivel.
                    </li>
                    <li>
                        Atender las necesidades de salud actuales y futuras de la población con actitud solidaria, responsable y propositiva, entendiendo la riqueza del saber universitario como un compromiso social.
                    </li>
                    <li>
                        Influir mediante el liderazgo, habilidad de negociación y capacidad gerencial, en las políticas del sector salud, en sus diferentes niveles, así como en las instituciones de educación superior y organismos representativos de la disciplina.
                    </li>
                    <li>
                        Desarrollar el ejercicio independiente de enfermería como expresión de la autogestión disciplinar, creando nichos laborales alternativos y un espacio de prácticas profesionales innovadoras.
                    </li>
                    <li>
                        Intervenir con sentido ético y crítico en su quehacer profesional.
                    </li>
                    <li>
                        Desarrollar habilidades intelectuales, dominio de otro idioma y uso de la computadora como herramienta para el procesamiento de la información elaboración de escritos científicos y su difusión.
                    </li>
                    <li>
                        Asesorar y administrar programas de investigación científica, docencia y difusión de enfermería y plantear alternativas de formación, actualización y capacitación de recursos humanos en mejora de la calidad del servicio.
                    </li>
                    <li>
                        Crear, diseñar, adaptar y mejorar tecnologías del cuidado de enfermería con enfoque al primer y segundo nivel de atención que mejoren y eficienticen la calidad del cuidado.
                    </li>
                    <li>
                        Reconocer el trabajo en equipo, la comunicación y la cohesión del colectivo de enfermería como elementos para lograr el avance de la disciplina e identidad social.
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>

<style>
    #desktop-view {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 10px;
    }

    @media only screen and (max-width: 750px) {
        #desktop-view {
            grid-template-columns: 210px 1fr;
        }

        .resumen {
            grid-column: 1 / 3 !important;
        }
    }

    .blank {
        grid-column: 1;
        grid-row: 1;
    }

    .resumen {
        grid-column: 2;
        grid-row: 1;
    }

    aside {
        grid-column: 1;
        grid-row: 2;
    }

    .resumen {
        margin-bottom: 40px;
    }

    .resumen p {
        color: var(--gray-400);
    }

    .resumen hr {
        color: var(--primary);
        margin-left: 0;
        width: 40%;
        border-color: var(--primary);
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0 auto 0 0;
        background: var(--white);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 13px 0px;
    }

    .menu-btn {
        background: none;
        border: 0;
        border-radius: 5px;
        color: var(--primary);
        font-weight: 250;
        font-size: var(--text-md);
        text-align: start;
        padding: 10px 12px;
        cursor: pointer;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    }

    .menu-btn:hover {
        background: var(--primary);
        color: var(--white);
        font-weight: 350;
        border-radius: 5px;
    }

    .proposito p {
        color: var(--gray-600);
    }

    .proposito p:first-child {
        margin-top: 0;
    }

    .perfil-egreso p:first-child {
        margin-top: 0;
    }

    .perfil-egreso p {
        color: var(--gray-600);
    }

    .perfil-egreso ul {
        list-style: outside;
        color: var(--gray-600);
        padding: 0 0 0 20px;
    }

    .perfil-egreso li:first-child {
        margin-top: 0;
    }

    .perfil-egreso li {
        margin-top: 6px;
    }

    .download-btn {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 40px auto 0 0;
        gap: 8px;
        text-align: center;
    }

    .download-btn a {
        background: var(--primary);
        color: var(--white);
        font-weight: var(--light);
        font-size: var(--text-xs);
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 13px 0px;
    }

    .download-btn a:hover {
        background: var(--black)
    }

    .content p {
        color: var(--gray-600)
    }

    .img-container {
        position: relative;
        width: 100%;
        height: 380px;
        overflow: hidden;
        margin: 22px 0;
    }

    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .proposito ul {
        list-style: outside;
        padding: 0 0 0 20px;
        color: var(--gray-600);
    }

    .proposito {
        margin: 0 0 60px;
    }

    .plan {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plan a {
        background: var(--primary);
        color: var(--white);
        font-size: var(--text-xs);
        padding: 8px 15px;
        border-radius: 5px;
        margin: 8px 0;
    }

    .plan a:hover {
        background: var(--black);
    }

    .menu-btn.selected {
        background: var(--primary);
        color: var(--white);
        font-weight: 350;
    }

    .sticky {
        position: sticky;
        top: 100px;
    }

    .content-section {
        overflow: hidden;
        transition: height 0.5s ease;
    }

    .hidden {
        display: none;
    }

    .fade-in {
        animation: fadeIn 0.5s forwards;
    }

    .fade-out {
        animation: fadeOut 0.5s forwards;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
    }

    @keyframes fadeOut {
        from { opacity: 1; transform: translateY(0); }
        to { opacity: 0; transform: translateY(20px); }
    }
</style>
