---
import '../styles/global.css';
import '../styles/normalice.css';
import 'locomotive-scroll/dist/locomotive-scroll.css'
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Medicina Mixta Virual',
	description = 'Sitio Principal de Escuela de Medicina Mixta Virtual',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{title}</title>
<ViewTransitions />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
	// @ts-ignore
	import AOS from 'aos/dist/aos.js';
	import LocomotiveScroll from 'locomotive-scroll';

	document.addEventListener('astro:page-load', () => AOS.init());

	  
	document.addEventListener('astro:page-load', () => {
		const locomotiveScroll = new LocomotiveScroll();
	});
</script>

