---
import '../styles/global.css';
import '../styles/normalice.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Medicina Mixta Virtual',
	description = 'Sitio Principal de Medicina Mixta Virtual UAD',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{title}</title>
<ViewTransitions />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
	import AOS from 'aos/dist/aos.js';
	document.addEventListener('astro:page-load', () => AOS.init());
</script>
