---
interface Props {
    titulo: string;
    mapa: string;
}

const { titulo, mapa } = Astro.props
---

<div class="mapa" id="mapa">
    <p>Mapa curricular {titulo} modalidad mixta-virtual</p>
    <img src={mapa} alt={`mapa curriculular de la licenciatura en ${titulo} modalidad mixta-virtual`} id="mapa-img">
</div>

<style>
    .mapa {
    }
    .mapa p {
        text-transform: uppercase;
        font-size: var(--text-xs);
    }

    .mapa img {
        width: 100%;
        cursor: pointer;

    }

    @media (max-width: 600px) {
        .mapa p {
            display: none;
        }
    }
</style>
