---
import WhatsappLogo from "../icons/whatsapp-logo.astro"
---
<div class="widget">
    <a href="#">
        <WhatsappLogo />
    </a>
</div>

<style>
    .widget {
        position: fixed;
        bottom: 50px;
        right: 40px;
        transition: transform 0.5s, opacity 0.5s;
    }

    .widget.show {
        animation: slideUp 0.5s forwards;
        transform: translateY(0);
    }

    .widget.hide {
        animation: slideDown 0.5s forwards;
    }

    .widget a {
        display: flex;
        justify-content: center;
        background: var(--primary);
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .widget:hover a {
        background: var(--blue-100);
    }

    @keyframes slideUp {
        from {
            transform: translateY(250%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slideDown {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(250%);
            opacity: 0;
        }
    }
</style>

<script>
    document.addEventListener('astro:page-load', function(): void {
        const widget = document.querySelector('.widget') as HTMLElement;
        const isHomePage: boolean = window.location.pathname === '/' || window.location.pathname === '/index.html';

        if (isHomePage && widget) {
            const scrollPercentage: number = 0.12;
            let hasShown: boolean = false;

            function checkScroll(): void {
                const showOnScrollPosition: number = document.body.scrollHeight * scrollPercentage;

                if (window.scrollY > showOnScrollPosition && !hasShown) {
                    widget.classList.remove('hide');
                    widget.classList.add('show');
                    hasShown = true;  // Set the flag to true once the widget is shown
                } else if (window.scrollY <= showOnScrollPosition) {
                    widget.classList.remove('show');
                    widget.classList.add('hide');
                    hasShown = false; // Reset the flag if user scrolls back to top
                }
            }

            window.addEventListener('scroll', checkScroll);
            checkScroll();
        } else if (widget) {
            widget.classList.remove('hide'); // Ensure widget is visible on non-index pages
        }
    });
</script>


