---
import LogoHospitalVirtual from "../icons/logo_hospital_virtual.astro"
---
<section class="hospital-section">
    <div class="content">
        <div data-aos="zoom-in-up">
            <LogoHospitalVirtual 
                width="600px"    
            />
        </div>
        <div class="gallery">
            <div class="img-container" data-aos="zoom-in-right">
                <img src="/images/hospital_virtual/HV_img1.jpg" alt="Imagen 1">
            </div>
            <div class="img-container" data-aos="zoom-in-left">
                <img src="/images/hospital_virtual/HV_img2.jpg" alt="Imagen 2">
            </div>
            <div class="img-container" data-aos="zoom-in-right">
                <img src="/images/hospital_virtual/HV_img3.jpg" alt="Imagen 3">
            </div>
            <div class="img-container" data-aos="zoom-in-left">
                <img src="/images/hospital_virtual/HV_img4.jpg" alt="Imagen 4">
            </div>
            <div class="img-container" data-aos="zoom-in-right">
                <img src="/images/hospital_virtual/HV_img5.jpg" alt="Imagen 5">
            </div>
            <div class="img-container" data-aos="zoom-in-left">
                <img src="/images/hospital_virtual/HV_img6.jpg" alt="Imagen 6">
            </div>
            <div class="img-container" data-aos="zoom-in-right">
                <img src="/images/hospital_virtual/HV_img7.jpg" alt="Imagen 7">
            </div>
            <div class="img-container" data-aos="zoom-in-left">
                <img src="/images/hospital_virtual/HV_img8.jpg" alt="Imagen 8">
            </div>
            <div class="img-container" data-aos="zoom-in-right">
                <img src="/images/hospital_virtual/HV_img9.jpg" alt="Imagen 9">
            </div>
            <div class="img-container" data-aos="zoom-in-left">
                <img src="/images/hospital_virtual/HV_img10.jpg" alt="Imagen 10">
            </div>
        </div>
    </div>
</section>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" id="modal-close">&times;</span>
        <div class="image-container">
            <span class="prev" id="modal-prev">&#10094;</span>
            <img id="modal-img">
            <span class="next" id="modal-next">&#10095;</span>
        </div>
    </div>
</div>

<style>
    .hospital-section {
        margin-top: -50px;
        padding: 70px 20px;
        background: var(--black);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1080px;
        margin: auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 70px 0 120px;
        gap: 15px;
        width: 100%;
    }

    .img-container {
        position: relative;
        width: 100%;
        padding-bottom: 55.36%;
        overflow: hidden;
    }

    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 10%;
        transition: object-position 0.4s ease-in-out;
        cursor: pointer;
    }

    .img-container:hover img {
        object-position: 50% 40%;
    }

    @media (max-width: 768px) {
        .gallery {
            grid-template-columns: 1fr;
        }

        .image-container {
            flex-direction: column;
            align-content: center;
        }

        #modal-img {
            width: 98% !important;
            align-self: center;
            margin: 20px 0;
        }

        .close {
            font-size: 7vw !important;
            position: absolute;
            margin: 15px 0 !important;
            right: 7px;
            top: -20px;
        }

        .prev,
        .next {
            font-size: 5vw !important;
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .modal.show {
        display: flex;
        opacity: 1;
    }

    .modal-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(50%);
        width: 98%;
        max-width: 1550px;
    }

    .image-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #modal-img {
        width: 90%;
        max-width: 1440px;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    #modal-img.show {
        opacity: 1;
    }

    #modal-img.transition-out {
        opacity: 0;
    }

    .close {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        align-self: flex-end;
        margin: 0 40px 10px 0;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .prev,
    .next {
        cursor: pointer;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        user-select: none;
        align-self: center;
    }

    .prev:hover,
    .next:hover {
        color: #bbb;
    }
</style>

<script>
    const modal = document.getElementById("modal") as HTMLElement;

    if (modal) {
        const modalImg = document.getElementById("modal-img") as HTMLImageElement;
        const images = document.querySelectorAll(".img-container img") as NodeListOf<HTMLImageElement>;
        const closeBtn = document.getElementById("modal-close") as HTMLElement;
        const prevBtn = document.getElementById("modal-prev") as HTMLElement;
        const nextBtn = document.getElementById("modal-next") as HTMLElement;
        let currentIndex = 0;

        images.forEach((img, index) => {
            img.addEventListener("click", () => {
                currentIndex = index;
                openModal();
            });
        });

        function openModal() {
            modal.classList.add("show");
            modal.style.display = "flex";
            setTimeout(() => {
                modal.style.opacity = "1";
            }, 100);

            setTimeout(() => {
                modalImg.classList.add("show");
                modalImg.src = images[currentIndex].src;
            }, 100);
        }

        function closeModal() {
            modalImg.classList.remove("show");
            modal.style.opacity = "0";

            setTimeout(() => {
                modal.classList.remove("show");
                modal.style.display = "none";
            }, 300);
        }

        function changeImage(newIndex: number) {
            modalImg.classList.remove("show");
            modalImg.classList.add("transition-out");
            setTimeout(() => {
                modalImg.src = images[newIndex].src;
                modalImg.classList.remove("transition-out");
                modalImg.classList.add("show");
                currentIndex = newIndex;
            }, 250);
        }

        function showPrev() {
            const newIndex = (currentIndex > 0) ? currentIndex - 1 : images.length - 1;
            changeImage(newIndex);
        }

        function showNext() {
            const newIndex = (currentIndex < images.length - 1) ? currentIndex + 1 : 0;
            changeImage(newIndex);
        }

        closeBtn.addEventListener("click", closeModal);
        prevBtn.addEventListener("click", showPrev);
        nextBtn.addEventListener("click", showNext);

        window.addEventListener("click", (event) => {
            if (event.target === modal) {
                closeModal();
            }
        });
    }

</script>
