---
interface Props {
    image: string;
    title: string;
    rvoe: string;
}

const { image, title, rvoe } = Astro.props
---
<section class="hero">
    <div class="image-container">
        <img src={image} alt="" loading="eager">
    </div>
    <div 
        class="content"
        data-aos="zoom-in-up"
        data-aos-duration="650"
    >
        <div style="width: 100%">
            <slot />
        </div>
        <h1 class="title">{title}</h1>
        <h4 class="subtitle extra-light">Modalidad Mixta-Virtual</h4>
        <p class="rvoe extra-light">Acuerdo RVOE {rvoe}</p>
    </div>
</section>

<style>
    .hero {
        z-index: -5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
    }

    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 27% 25%;
    }

    .content {
        z-index: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

    .title,
    .subtitle,
    .rvoe {
        color: var(--white);
        margin: 0;
    }

    .title {
        margin: 20px 0 0;
        text-transform: uppercase
    }

    .rvoe {
        margin: 5px 0 0;
        padding: 8px 16px;
        background: var(--black);
        border-radius: 10px;
    }

    @media (max-width: 600px) {
        .title {
            font-size: 9vw;
        }

        .subtitle {
            font-size: 5vw;
        }

        .rvoe {
            font-size: 3.5vw;
        }
    }

    @media (max-width: 365px) {
        .title {
            font-size: var(--text-2xl);
        }

        .subtitle {
            font-size: var(--text-lg);
        }

        .rvoe {
            font-size: var(--text-xs);
        }
    }


</style>
