---
import LogoMixtaVirtual from "../icons/logo-mixta-virtual.astro"
import EmailSend from "../icons/email_send.astro"
---
<input type="checkbox" id="menu">
<header>
    <div class="nav-menu">
        <a href="/" class="logo">
            <LogoMixtaVirtual
                width="235px"
            />
        </a>
        <label id="hamburger" for="menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <nav>
            <ul class="links">
                <li class="dropdown" id="dropdown" onmouseover="handleOfferHover(true)" onmouseleave="handleOfferHover(false)">
                    <button onclick="handleClick()">Oferta Educativa</button>
                    <ul class="dropdown-content" id="content">
                        <li><a href="/medicina">Medicina</a></li>
                        <li><a href="/enfermeria">Enfermería</a></li>
                    </ul>
                </li>
                <li><a class="pv-button" href="https://medicinavirtual.uad.mx/" target="_blank">Plataforma Virtual</a></li>
                <li>
                    <a 
                        href="/contacto"
                        style="display: flex; align-items: center;"
                    >
                        <EmailSend 
                            width="30px"
                        />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100vw;
    }

    header::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 90.73px;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(22,22,23,0.9) 0%, rgba(22,22,23,0.5) 63%, rgba(22,22,23,0.042) 100%);
        backdrop-filter: blur(0px);
        transition: height 0.5s ease, backdrop-filter 0.4s ease;
        z-index: -1;
        overflow: hidden;
    }

    header.scrolled::before {
        backdrop-filter: blur(20px);
    }

    header.hover::before {
        height: 150px;
        backdrop-filter: blur(20px);
    }

    header.clicked::before {
        height: 150px;
        backdrop-filter: blur(20px);
    }

    .dropdown-content.clicked {
        height: 75px;
    }

    .nav-menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 12px 17px;
        max-width: 1280px;
    }

    .logo {
        display: flex;
        max-width: 65%;
    }

    nav {
        margin: 0;
        padding: 0;
        transition: height .4s;
    }

    #menu {
        display: none;
    }

    nav .links {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      gap: 15px;
    }

    nav ul li {
      position: relative;
      display: inline-block;
    }

    nav ul li a {
      text-decoration: none;
      color: var(--white);
      padding: 7px 15px;
      display: block;
    }

    nav ul li a:hover {
      color: var(--primary);
    }

    .dropdown button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: var(--white);
        margin: 0;
        padding: 7px 15px;
    }

    .dropdown button:hover {
        color: var(--primary);
    }

    .dropdown-content {
        height: 0;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        padding: 0 12px 0;
        transition: height .5s ease;
    }

    .dropdown-content li {
        margin-top: 5px;
        width: 200px;
    }

    .nav-menu .dropdown-content li a {
        margin: 0;
        padding: 7px 15px;
        color: var(--white);
        text-decoration: none;
    }

    .nav-menu .dropdown-content li a:hover {
        color: var(--primary);
    }

    .pv-button {
        background-color: var(--primary);
        border-radius: .5rem;
    }

    nav ul li .pv-button:hover {
      color: var(--white);
      background-color: var(--blue-100);
    }

    @media (min-width: 900px) {
        nav ul li.dropdown:hover .dropdown-content {
            height: 75px;
        }
    }

    @media (max-width: 900px) {
        nav {
            position: absolute;
            align-items: center;
            overflow-y: auto;
            top: 100px;
            left: 0;
            width: 100%;
            gap: 1.5rem;
            align-items: center;
            height: 0;
            transition: height .5s ease;
            overflow: hidden;
        }

        nav .links {
            flex-direction: column;
        }

        #hamburger {
            width: 40px;
            height: 25px;
            position: relative;
            cursor: pointer;
        }

        #hamburger div {
            width: 100%;
            height: 4px;
            background: var(--white);
            position: absolute;
            transform: translateY(-50%);
            border-radius: 99px;
            transition: 0.3s;
            transform: scale(1);
        }

        #hamburger div:nth-child(1) {
            top: 0;
        }

        #hamburger div:nth-child(2) {
            top: 50%;
        }

        #hamburger div:nth-child(3) {
            top: 100%;
        }

        #menu:checked + header .nav-menu nav {
            height: 100vh;
        }

        #menu:checked + header::before {
            height: 100vh;
            backdrop-filter: blur(20px);
        }

        #menu:checked + header #hamburger div:nth-child(1) {
            transform: rotate(45deg);
            top: 50%;
        }

        #menu:checked + header #hamburger div:nth-child(3) {
            transform: rotate(-45deg);
            top: 50%;
        }

        #menu:checked + header #hamburger div:nth-child(2) {
            transform: scale(0);
            opacity: 0;
        }

        .dropdown {
            height: 35px;
            background: #00000054;
            border-radius: 10px;
            transition: height .4s ease;
        }

        .dropdown-content {
            width: 100%;
            text-align: center;
        }

        .dropdown-content li {
            width: 100%;
        }

        .dropdown.clicked {
            height: 120px;
        }



    }
</style>

<script>
    window.addEventListener('scroll', function() {
        const nav = document.querySelector('header');
        if (nav) {
            if (window.scrollY > 0) {
                nav.classList.add('scrolled');
            } else {
                nav.classList.remove('scrolled');
            }
        }
    });

    function handleOfferHover(isHover: boolean) {
        if (window.innerWidth < 900) {
            return;
        }
        const header = document.querySelector('header');
        if (header) {
            if (isHover) {
                header.classList.add('hover');
            } else {
                header.classList.remove('hover');
            }
        }
    }

    function HandleClick() {
        const dropdown = document.getElementById("dropdown");
        const content = document.getElementById("content");
        const header = document.querySelector('header');

        if (dropdown) {
            if (window.innerWidth < 900) {
                dropdown.classList.toggle("clicked");
                content?.classList.toggle("clicked");
            } else {
                header?.classList.toggle("clicked");
                content?.classList.toggle("clicked");
            }
        } 
    }

    window.handleOfferHover = handleOfferHover;
    window.handleClick = HandleClick;

</script>