<section class="ovid-section">
    <div class="content">
        <img data-aos="fade-up" src="/icons/LogoOvid.png" alt="">
        <div class="description" data-aos="fade-up">
            <p>
                La Bases de Datos Digital de Información Científica y Especializada Ovid CAB Abstracts ofrece a los investigadores acceso instantáneo a más de 8.4 millones de registros a partir de 1973, con más de 360.000 resúmenes añadidos cada año. Su cobertura de las ciencias de la vida aplicadas incluye agricultura, medio ambiente, ciencias veterinarias, economía aplicada, ciencia de los alimentos y nutrición.
            </p>
            <p>
                Contiene una lista creciente de más de 40.000 documentos de texto completo, incluyendo actas de congresos, informes y textoscomplejos de todo el mundo que son difíciles de encontrar. El repositorio contiene PDF de texto completo, incluyendo artículos de revistas en idiomas distintos del inglés; actas de la conferencia con frecuencia ofrecen papeles importantes meses antes de la publicación del artículo de investigación completado; capítulos de libros, monografías, informes gubernamentales y más. Los resúmenes de la CAB, Full Text Select, ofrecen registros desde 2003 hasta la fecha, con aproximadamente 10.000 nuevos registros agregados cada año.
            </p>
        </div>
        <div class="video-container" data-aos="fade-up">
            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/yS4D-K0mbOU?si=fGcQYJR8d8AMMaYZ" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
            >
            </iframe>
        </div>
        <div data-aos="fade-up" style="text-align: center;">
            <a href="https://access.ovid.com/custom/uad/" target="_blank">Acceso a Ovid aquí</a>
            <p class="extra-light" style="color: #76B545; margin-top: 5px; text-align: center;">
                ACLAND, BATE, 5 MINUTE, HL, OVID Español (Libros), OVIDMD (Colección de revistas).
            </p>
        </div>
    </div>
</section>

<style>
    .ovid-section{
        margin-top: -50px;
        padding: 80px 20px 100px;
        background: var(--white);
        border-radius: 50px;
        box-shadow: rgba(0,0,0,0.2) -5px 6px 8px 0px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1080px;
		margin: auto;
    }

    .content img {
        width: 250px;
        margin-bottom: 10px
    }

    .description {
        max-width: 800px;
        text-align: center;
    }

    .description p {
		color: var(--gray-400);
		margin: 30px 0;
		background-image: linear-gradient(90deg, #333333 0%,#425831 50%, #333333);
    	background-size: auto auto;
    	background-clip: border-box;
    	background-size: 200% auto;
		color: var(--primary);
    	background-clip: text;
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	animation: textclip 6s linear infinite;
	}

    @keyframes textclip {
	  to {
	    background-position: 200% bottom;
	  }
	}
    
    .video-container {
        position: relative;
        padding-bottom: 56.6%;
        height: 0;
        overflow: hidden;
        width: 100%;
        max-width: 900px;
        background: var(--gray-200);
        margin: 20px 0;
        border-radius: 10px;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
