---
import MainHead from '../components/MainHead.astro';
import '@fontsource-variable/dm-sans';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<slot />
	</body>

	<script is:inline>
		document.addEventListener('astro:page-load', function() {
		  const hero = document.getElementById('hero');
		  
		  if (hero) {
			let ticking = false;
			const heroRect = hero.getBoundingClientRect();
			const heroTop = heroRect.top + window.pageYOffset;
	  
			function updateParallax() {
			  const scrollPosition = window.pageYOffset;
			  if (scrollPosition >= heroTop) {
				const parallaxValue = (scrollPosition - heroTop) * 0.6;
				hero.style.transform = `translate3d(0, ${parallaxValue}px, 0)`;
			  }
			  ticking = false;
			}
	  
			window.addEventListener('scroll', function() {
			  if (!ticking) {
				window.requestAnimationFrame(updateParallax);
				ticking = true;
			  }
			});
		  }
		});
	</script>
</html>
