---
import MainHead from '../components/MainHead.astro';
import '@fontsource-variable/dm-sans';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<slot />
	</body>

	<script>
		import LocomotiveScroll from 'locomotive-scroll';
	  
		document.addEventListener('astro:page-load', () => {
		  const locomotiveScroll = new LocomotiveScroll();
		});
	  </script>
</html>
